---
title: Fragrances
layout: base.njk
---
<div id="img-container" class="main-container">
  <h2>Coco Mademoiselle EDP</h2>
  <h5>Intense - Chanel</h5>
<img src="https://images.unsplash.com/photo-1587304946976-cbbbafce2133?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="fragrance">  
</div>
<div class="blog-container">
  <p>I'm using this since January and I don't see a huge difference between this one and the original edp.
  </p>
  <p>The Intense version does not have a good longevity on my skin, about 3 hours and next to my skin.
  </p>

  <p> I will buy again. </p>

  <p>Warm fragrance, have the classic Chanel sent and it is a high class woman vibes</p>

  <p>Longevity - 3 to 4 hours</p>

  <p>Sillage - Moderate in first hour, after this, became soft</p>

  <p>Winter and Autumn</p>
    
</div>