---
title: Haircare
layout: base.njk
---
<div id="img-container" class="main-container">
  <h2>Moroccanoil</h2>
  <img src="https://images.unsplash.com/photo-1608571899784-613f67ca6ffb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="haircare">
</div>
<div class="blog-container">
  <p>My experience with this oil is amazing!
  </p>
  <p>I have a lot of bad day hair, since frizz and lack of structure. So, when I am at this days, I use the oil and feel a huge improvement in texture and visual.
  </p>

  <p> I tried other oils, but until now, for me this is the best one. </p>
  <p> If I use everyday, it last about 4 months on the mini size. </p>

  
</div>