---
title: The Film Picker
layout: base.njk
---
{% for film in data.historyFilms%}
  <div id=history{{loop.index0}} class="hide">
    <h3>{{film.title}}</h3>
    <img src=https://image.tmdb.org/t/p/w500/{{film.poster_path}}></img>
  </div>
{% endfor %}

{% for film in data.crimeFilms%}
  <div id=crime{{loop.index0}} class="hide">
    <h3>{{film.title}}</h3>
    <img src=https://image.tmdb.org/t/p/w500/{{film.poster_path}}></img>
  </div>
{% endfor %}

{% for film in data.westernFilms%}
  <div id=western{{loop.index0}} class="hide">
    <h3>{{film.title}}</h3>
    <img src=https://image.tmdb.org/t/p/w500/{{film.poster_path}}></img>
  </div>
{% endfor %}
<script src="/js/index.js"></script>
