---
title: Skincare
layout: base.njk
---
<div id="img-container" class="main-container">
  <h2>The Ordinary - Glycolic Acid 7%</h2>
  <img src="https://images.unsplash.com/photo-1636918201023-cfedef251470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="skincare oil">
  
</div>
<div class="blog-container">
  <p>I'm using this tonic in a different way. I'm trying to improve my back skin, since I have some scars from acne.
  </p>
  
  <p>In my first week, I felt a little burning, but now I don't feel nothing.
  </p>

  <p>After 4 weeks, I already feel the diference in the texture. The glycolic acid sloughs away the dead skin and I don't feel any bumps or texture anymore.</p>

  <p>I still have the black spots, lets wait a little more to have an opinion about the lightening</p>
</div>