---
title: Western Films
layout: base.njk
---

<div id="img-container">
  {% for film in data.westernFilms%}
  <h3>{{film.title}}</h3>
    <img src=https://image.tmdb.org/t/p/w500/{{film.poster_path}}></img>
  {% endfor %}
</div>
<script src="/js/index.js"></script>
